*{
	margin:0;
	padding:0;
	outline:none;
}
body{
	margin:0;
	padding:0;
	-ms-word-wrap:break-word;
	word-wrap:break-word;
	background-color:#fff;
	font-size:16px;
	color:#000;
	font-family: 'Vollkorn', serif;
	overflow-x: hidden;
}
img{
	margin:0;
	padding:0;
	border:none;
	max-width:100%;
	height:auto;
}
section img{
	max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0;
	padding:10px 0;
	font-family: 'Unica One', cursive;
}
p{
	margin:0 0 15px;
	padding:0;
	font-size:16px;
	line-height: 1.8;
}
p, span{
	padding: 0px;
}
a{
	text-decoration:none;
	color:#000;
}

a:hover{
	text-decoration:none;
	color:#666;
}

a:focus,
a:hover{
	text-decoration:none !important;
}
a:focus, textarea:focus, input:focus, .woocommerce form .form-row input:focus.input-text, .woocommerce form .form-row textarea:focus,
#header .primary-navigation ul ul a:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}

ul{
	margin:0 15px 0 0;
	padding:0;
}

:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

select{
  width:100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{
  clear:both;
}

.clear{
	clear:both;
}
input[type='submit']:hover{
	cursor: pointer;
}
.center{
	text-align:center;
	margin-bottom:40px;
}
.middle-align{
	margin:0 auto;
	padding:20px 0 20px;
}
.wp-caption{
	margin:0;
	padding:0;
	font-size:13px;
	max-width:100%;
}
.wp-caption-text{
	margin:0;
	padding:0;
}
.screen-reader-text {
	position: absolute;
	top:-9999em;
	right:-9999em;
}
.middle-align p a {
    text-decoration: underline;
}
/*elementor*/
.elementor-html #loader, .elementor-html #loader-wrapper{ 
  display: none; 
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{
	margin:0;
	padding:0;
}
.gallery-caption{
	margin:0;
	padding:0;
}
.alignleft,
 img.alignleft {
 	display: inline;
	float: right;
	margin-left:20px;
	margin-top:4px;
	margin-bottom:10px;
	padding:0;
	border:1px solid #bbb;
	padding:5px;
}
.alignright,
 img.alignright {
	display: inline;
	float: left;
	border:1px solid #bbb;
	padding:5px;
	margin-bottom:10px;
	margin-right:25px;
}
.aligncenter,
 img.aligncenter {
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top:0;
}
.comment-list .comment-content ul {
	list-style:none;
	margin-right:15px;
}
.comment-list .comment-content ul li{
	margin:5px;
}
#respond{
	clear:both;
}
.toggle{
 	display:none;
}
.bypostauthor{
	margin:0;
	padding:0;
}
small{
	font-size:14px !important;
}

a.small-button{
	background:#3890cb;
	padding:5px 30px;
	border-radius:3px;
	color:#fff;
	display:table;
	margin:0 auto;
}
a.small-button:hover{
	color:#fff;
	background:#0c5f96;
}

input[type="text"],
input[type="email"],
input[type="phno"],
input[type="password"],
 textarea{
	border:1px solid #bcbcbc;
	width:100%;
	font-size:16px;
	padding:10px 10px;
	margin:0 0 23px 0;
	height:auto;
}
textarea{
	height:111px;
}
input[type="search"] {
    float: right;
    padding: 10px;
    border: none;
    color: #000;
}
input[type="submit"] {
	border:2px solid #151c27;
	text-align:center;
	text-transform:uppercase;
	font-size:18px;
	padding:7px 15px;
	background:#151c27;
	font-weight:bold;
	color:#b79338;
	border-radius:3px;
}
/* Sweep To Right */
.hvr-sweep-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #151c27;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
	  color: #fff;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* ---------Buttons--------- */
a.button{
	background:#151c27;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    text-transform: uppercase;
	font-weight:bold;
}
.read-moresec{
	padding: 10px 0 30px 0;
}	

/*preloader*/
#loader-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  right: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px -75px 0 0;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  -webkit-animation: spin 1.7s linear infinite;
          animation: spin 1.7s linear infinite;
  z-index: 99999999;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin-reverse .6s linear infinite;
          animation: spin-reverse .6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}
#loader-wrapper .loader-section.section-left {
  right: 0;
}
#loader-wrapper .loader-section.section-right {
  left: 0;
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
/*----------Sticky Header------*/
.fixed-header {
  position: fixed;
  top:0; right:0;
  width: 100%;
  background: #fff;
  box-shadow: -2px 2px 10px 0px #2d2d2d;
  z-index: 999999;
}
.page-template-custom-front-page .fixed-header #header{
	background: #151c27;
	box-shadow: -2px 2px 10px 0px #2d2d2d;
}
/* ---------HEADER--------- */
.logo{
	margin:0;
	padding: 0px 0;
}
p.site-description {
    margin: 0;
    padding: 0;
}
.logo h1, .logo p.site-title{
	text-transform:uppercase;
	padding:0;
	margin-bottom:8px;
	font-size:35px;
	font-weight:bold;
	margin-top: 0;
	text-decoration: none;
	font-family: 'Unica One', cursive;
	line-height:1.2;
}
.logo a{
	color: #fff;
	font-size:35px;
}
.logo p{
	font-size:14px;
	color:#fff;
	margin-bottom: 0;
}
.page-template-custom-front-page .logo a{
	color: #fff;
	font-size: 35px;
}
.page-template-custom-front-page #header{
	z-index:999;
	width:100%;
	height:auto;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
    border: none;
    box-shadow: none;
}
#header {
    background: #151c27;
    position: relative;
    float: right;
    width: 100%;
    padding: 12px 0;
    color: #b79338;
}
#header .header-top{
	background:#000;
	color:#aaaaaa
}
#header .header-top a{
	color:#aaaaaa
}
#header a:focus,
#footer a:focus, .abovecopyright a:focus, #footer input:focus, 
#footer textarea:focus{
	outline:1px dotted #fff;
	border-bottom: 1px dotted #fff;
}

.social-media {
    text-align: left;
    padding:10px;
}
.social-media i {
    margin-left: 5%;
    font-size: 14px;
    color: #fff;
}
.social-media a{
	color: #fff;
}
.social-media i:hover{
	color:#b79338;
}
#contact-info{
	display: none;
}
/* --------- MENUS CSS --------- */
#menu-sidebar .social-icons{
  display: none;
}
#menu-sidebar {
  text-align: center;
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.primary-navigation ul{
  list-style: none;
  margin: 5px 0 0;
  padding-right: 0;  
  text-align: right;
}
.primary-navigation li{
  display: inline-block;
  position: relative;
}
.primary-navigation a{
  display: block;
  color: #fff;
  font-size: 15px;	
  letter-spacing: 1px;
  padding: 16px 10px 16px 25px;
  text-transform: capitalize;
  font-style: italic;
}
.primary-navigation ul ul{
  display: none;
  position: absolute;
  min-width: 215px;
  z-index: 999;
  top:45px;
  border-top: 6px solid #b79338 !important;
  border: 1px solid #b79338;
}
.primary-navigation ul ul ul{
  right: 100%;
  top: 5px;
}
.primary-navigation ul ul a{
  color: #b79338;
  background-color: #fff;
  border: none;
  padding: 13px;
  font-weight: 700;
  font-size: 14px;
  z-index: 999;
}
.primary-navigation ul ul li:hover > a {
  color: #151c27;
}
.primary-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  padding: 0;
}
.primary-navigation ul ul li:last-child{
  border-bottom: 0;
}
.primary-navigation ul li:hover > ul{
  display: block;
}
/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows .sf-with-ul:after{
  content: '\f067';
  position: absolute;
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  padding: 0px 6px;
  top:18px;
}
.sf-arrows ul .sf-with-ul:after{
  left: 10px;
  top:15px;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows .sfHover > .sf-with-ul:after{
  content: '\f068';
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
}
.toggle-menu, a.closebtn{
  display: none;
}
.sf-arrows .sf-with-ul{
  padding-left: 30px;
}
/* Homepage */
.our-services small{
	color:#6d6d6d;
	margin:0 0 20px 0;
}
.our-services .small-button{
	margin-top:30px;
}
.our-services .page-box {
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0 4% 0;
    background: #f5f5f5;
}
.our-services .page-box h2{
	padding-top: 0;
}
.our-services .page-box h2 a{
	color:#151c27;
	margin:0 0 29px 0;
	padding:0;
	font-size: 30px;
}
.our-services .page-box h2 a:hover{
	color:#b79338;
}
.our-services .page-box p{
	font-size:15px;
	margin:0;
	line-height: 25px;
	color: #555;
	padding:0px;
}
.our-services .box-image{
	margin:0;
}
.our-services img{
	max-width:100%;-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow:hidden;
	border:1px solid #fff;
	width:100%;
}
.our-services .services-box{
	margin:40px 0 20px 0;
}

/* Headings */
section h2{
	font-weight:bold;
	text-align:center;
	margin:0 0 45px;
	padding:0;
	text-transform:uppercase;
}
section h2{
	font-weight:bold;
	text-align:center;
	margin:30px 0 0 0;
	text-transform:uppercase;
}
section h4{
	color:#000;
	font-weight:bold;
	font-size:20px;
}
section h5{
	color:#3890cb;
	font-weight:bold;
	font-size:24px;
	margin:0 0 10px 0;
	padding:0;
}
section .innerlightbox{
	background-size:100% 100%;
	padding:4.5em 0;
	color:#000;
}

/* Woocommerce */
.woocommerce span.onsale{
	background: #151c27;
	padding: 0;
}
.products li {
    border: solid 1px #dcdcdc;
    padding: 10px;
    text-align: center;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
    color: #000;
    letter-spacing: 1px;
    font-weight: 500;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #000;
    font-size: 1em;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
	margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background: #151c27;
	color: #fff;
	border-radius: 0;
	padding: 14px 26px;
	font-size: 16px;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
	background: #000;
	color: #b79338;
}
.woocommerce .quantity .qty {
    width: 6em;
    padding: 8px;
    border-radius: 0;
    border: solid 1px #000;
    color: #000;
}
.woocommerce table.shop_table td{
	font-size: 18px;
}
.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
    opacity: 1 !important;
}
.woocommerce .woocommerce-ordering select{
	padding: 10px;
	font-size: 16px;
}
nav.woocommerce-MyAccount-navigation ul {
    list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li {
    background: #151c27;
    padding: 12px !important;
    margin-bottom: 10px !important;
}
nav.woocommerce-MyAccount-navigation ul li a{
	color: #b79338;
	font-size: 18px;
	text-decoration: none;
}
.posted_in {
    display: block;
}
.posted_in a,
.tagged_as a{
	color: #555;
}
.woocommerce-cart .content-ts,
.woocommerce-input-wrapper {
    width: 100%;
}
.woocommerce-MyAccount-content a {
    color: #000;
    text-decoration: none !important;
}
.woocommerce form.login{
	display: inline-block;
}
.woocommerce table.shop_table th{
	font-size: 18px;
}
.woocommerce-Price-amount.amount {
    font-size: 20px;
}
.woocommerce .product_meta {
    font-size: 17px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
	font-size: 30px;
	text-align: center;
}
.woocommerce div.product form.cart .button {
    font-size: 15px;
}
.woocommerce span.onsale {
    font-size: 16px;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: 0.5em;
    right: -1.5em;
    padding: 1px 7px !important;
}
.woocommerce .quantity .qty {
    font-size: 17px !important;
}
.woocommerce .woocommerce-breadcrumb, .woocommerce .woocommerce-breadcrumb a{
	font-size: 15px;
	color: #000;
	margin-top: 10px;
}
.woocommerce div.product div.images img{
	padding: 5px;
}
.woocommerce form .form-row .required,.woocommerce a.remove{
	color: #df0000 !important;
}
.woocommerce-info{
	font-size: 16px;
}
a.woocommerce-privacy-policy-link {
    text-decoration: none;
}
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled]{
	color: #fff;
}
.woocommerce .select2-container .select2-selection--single{
  height: 40px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  top:70%;
}
.woocommerce-input-wrapper{
  width: 100%;
}
.select2-container--default .select2-selection--single, input#billing_phone {
	padding: 10px 0px;
	border-radius: 0px;
}
.woocommerce #comments p {
  float: right;
  width: 100%;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 16px;
}
.woocommerce .product-title{
  font-size: 17px;
}
.woocommerce .select2-container .select2-selection--single{
  height: 40px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  top:70%;
}
.select2-container--default .select2-selection--single, input#billing_phone {
  padding: 10px 0px;
  border-radius: 0px;
  border: 1px solid #bcbcbc;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
	width: auto;
}
.woocommerce-Address{
	max-width: 100%;
}
#sidebar .star-rating, #footer .star-rating{
  margin: 0 !important;
}
#sidebar .product_list_widget .star-rating, #footer .product_list_widget .star-rating{
  margin: 5px 0 10px 0 !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #b79338;
}
#sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #000;
}
#footer .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #fff;
}
#footer .price_label, #sidebar .price_label{
  font-size: 14px;
}
.woocommerce .star-rating {
    float: right;
}
.news-item.layout-two .news-text-wrap{
  font-size: 14px;
}
.related.products ul.products li.product, .related.products .woocommerce-page ul.products li.product{
  float:none;
  display: inline-table;
  width: 29%;
}
.woocommerce .woocommerce-product-rating .star-rating {
  margin: 0.5em 0 0 20px;
}
.woocommerce form.login .form-row,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit{
  display: block;
  float: none;
}
.woocommerce-Reviews .comment-text p.meta {
  width: 100%;
  float: right;
  padding-top: 10px;
}
#sidebar {
   margin-top: 2em;
}
#sidebar a.remove.remove_from_cart_button , #footer a.remove.remove_from_cart_button{
  font-size: 22px !important;
}
.woocommerce #reviews #comments h2{
  font-size: 25px;
}
.related.products h2 {
  text-align: right;
}
.comment-form-rating label {
  padding: 10px 0;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
  font-size: 11px;
  padding: 7px;
}
#footer .woocommerce.widget_shopping_cart .cart_list li{
  padding: 0 2em 10px 0;
}
#sidebar .widget_shopping_cart_content li:hover{
  padding-right: 2em;
}
.woocommerce-Reviews .comment-form-rating label{
  padding: 10px 0;
}
#sidebar form.woocommerce-product-search input{
	border: 1px solid;
}
#footer form.woocommerce-product-search button, #sidebar form.woocommerce-product-search button{
  background: #b79338 ;
  border-radius: 0px;
  color: #000;
  margin-top: 5px;
  padding: 10px 0;
  width: 100%;
  font-weight: 600;
  border: none;
  border: solid 1px #b79338;
}
#sidebar .woocommerce ul.product_list_widget li img, #footer .woocommerce ul.product_list_widget li img {
  width: 50px;
}
.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product{
	text-align: center;
}
.woocommerce ul.products li.product .star-rating{
	margin: 0 auto !important;
}
#sidebar li.woocommerce-mini-cart-item.mini_cart_item {
   background: none;
}
#footer .woocommerce a.button, #footer .woocommerce a.button:hover, #footer .woocommerce button.button{
	background: #b79338;
	color: #000;
	text-transform: capitalize;
}
.single-product .background-img-skin {
  margin: 30px 0;
}
/*woocommerce pagination*/
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
  background: #151c27;
  color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
  padding: 10px 15px;
  font-size: 18px;
}
/* Footer Section */
.tagcloud a {
    color: #fff;
}
#footer input[type="search"] {
    width: 100%;
    border: none;
    padding: 10px;
    border: solid 1px #4d4d4d;
    color: #fff;
}
#footer .textwidget a{
  color: #fff;
  text-decoration: underline;
}
#footer input[type="submit"] {
    font-size: 10px;
    padding: 12px 8px;
    font-weight: bold;
    color: #fff;
    margin: 3px 0 0 0;
    width: 25%;
    float: left;
    font-size: 15px;
}
#footer td#prev a
 {
    color: #fff;
}
#footer table#wp-calendar {
    margin-top: 15px;
}
table#wp-calendar {
    width: 100%;
}
#footer  table#wp-calendar td a {
    color: #fff;
}
#footer caption,
#sideabr caption {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
#footer table,#footer th,#footer td,
#sidebar table,#sidebar th,#sidebar td {
    border: 1px solid #d1d1d1;
    text-align: center;
}
#sidebar td,
#sidebar td#prev a,
#sidebar th {
	color:#737171 !important;
	padding: 8px;
}
#footer td {
    padding: 5px;
    color: #fff;
}
#footer th,
#sidebar th {
    text-align: center;
    padding: 5px;
    color: #fff;
}
#footer select,
#sidebar select {
    padding: 8px 5px;
    color: #4d4d4d;
}
#footer li a {
  color: #fff;
  font-size: 15px;
}
#footer li a:hover{
	color:#b79338; 
}
#footer ul li {
    list-style: none;
    padding: 5px 0;
}
#footer ul {
  margin: 0;
}
#footer{
	background:#151c27;
	text-align:center;
	color:#fff;
	text-align:right;
    clear:both;
}
#footer aside {
    margin: 10% 0;
}
#footer h3{
	text-align:right;
	text-transform:uppercase;
	font-size:24px;
	margin:10px 0 15px 0;
	border-bottom:3px double #4d4d4d;
	padding:0 0 17px 0;
}
#footer p{
	font-size:15px;
}
#footer .news-form{
	margin-top:24px;
}
#footer a.rsswidget{
	color: #fff;
}
#footer input[type="text"]{width:60%;
	padding:8px 5%;
	float:right;
	margin-left:2%;
	border-radius:5px;
}
#footer input[type="submit"] {
    width: 100%;
    background: #bd9338;
    margin: 0;
    color: #000;
    float: none;
    border: 0;
    border-radius: 0;
}
#footer .copyright{
	text-align:center;
}
#footer form.search-form label{
	width: 100%;
	float: none;
}
.copyright p {
    font-size: 16px !important;
    color: #fff;
    margin-bottom: 0;
    padding:10px;
}
.copyright p a{
    color: #fff;
    text-decoration: none;
}
.abovecopyright {
    background: rgb(4, 14, 29);
    padding: 0px 0px;
}
/*scroll to top*/
#scroll-top{
  background:#252525;
  border:2px solid #252525;
  color:#fff;
  cursor:pointer;
  width:65px;
  height:65px;
  opacity:0.5;
  position:fixed;
  bottom:60px;
  left:20px;
  z-index:9999;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  font-size:20px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: none;
}
.left-align{
  right: 20px;
}
.center-align {
  right: 50%;
  left: 50%;
}
/* --------- Bride & Groom ------- */
.contentbox a {
    color: #151c27;
    font-size: 18px;
}
.contentbox p {
    padding: 0 14%;
    font-size: 16px;
    color: #666;
}
.contentbox h4 {
    color: #666;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
}
.heading-line{
	text-align: center;
}
.heading-line p {
    color: #666;
    font-size: 15px;
}
.heading-line h2 {
    color: #151c27;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 0%;
    padding-bottom: 0;
}
.contentbox {
    text-align: center;
    margin-bottom: 5%;
}
/* --------- Love Story ------- */
#about{
	padding: 2% 0
}
#love-Story,#moreevent {
    border: solid 1px #bbb;
    box-shadow: -4px 4px 10px 0px #bbb;
}
.lscontent {
    padding: 15px;
    text-align: center;
}
#love-Story h2 {
    margin: 0;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 30px;
    color: #151c27;
    padding-bottom: 0;
}
#love-Story p {
    font-size: 13px;
    color: #666;
    padding: 0 12px;
    letter-spacing: 1px;
}
.fa-bars:before {
    color: #fff;
}
/* --------- Blog Page ------- */
.postbox {
	margin-bottom:39px;
	border-bottom:2px dotted #7e7e7e;
	padding:0 0 26px;
}
.postbox h2{
	margin:0 0 5px;
	font-weight:bold;
}
.blogbutton-small{
	background:none;
	font-weight:bold;
	padding:6px 25px;
	border:2px solid #151c27;
	background-color :#b79338;
	color:#151c27;
	font-size:14px;
	text-transform:uppercase;
	margin:25px 0 0 0;
	display:table;
}
.blogbutton-small:hover{
	background-color:#b79338;
	color:#fff; 
}
.metabox{
	color:#000;
	padding:15px 0;
	clear:both;
	font-size: 15px;
}
.metabox span {
    margin-right: 10px;
    font-size: 17px;
}
.metabox i {
    padding-left: 10px;
}
.metabox a:hover {
    color: #b79338;
}
.entry-content code{
  color:#000;
}
.entry-content a, .comment-body p a,.woocommerce-product-details__short-description p a,
.textwidget a{
    text-decoration: underline;
}
.meta-nav {
  color: #151c27;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  background: #fff;
}
.meta-nav:hover{
  background: #b79338;
  color: #000;
}
.page-box-single{
  background: #fafafa;
  padding:20px;
}
.post-title{
  margin:10px 0;
  color: #1a8129;
  display: block;
}
.meta-nav i {
  font-weight: 900;
  font-size: 15px;
  padding: 8px 0;
}
.tags{
  margin:20px 0;
}
.tags i{
  font-size: 20px;
  color:#b79338;
  margin-left: 10px;
}
.tags p a{
  font-size: 15px;
  color:#151c27;
  border: 1px solid #151c27;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  margin:5px;
}
.tags p a:hover{
  color: #000;
  background: #b79338;
  border: 1px solid #fff;
}
/* Comments BOX */
#comments {
  display: block;
}
#comments h2.comments-title{
  font-size:25px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  margin:10px 0;
  padding: 30px 0 10px;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background:#b79338 ;
  padding:10px 50px;
  text-transform:normal;
  font-weight:bold;
  color: #000;
  margin-top:20px;
  margin-right:0;
  border: none;
}
#comments a.comment-reply-link{
  color:#000;
  background: #b79338;
  padding:5px 15px;
}
#comments a.comment-reply-link:hover{
  background:#151c27;
  color: #fff;
}
#comments a time{
  color:#1a8129;
  font-weight:bold;
  font-size:12px;
}
#comments ol li li{
  margin-right: 25px;
}
.comment-body{
  margin-bottom: 20px;
}
.content-ts #comments ul{
  margin:0 40px 0 0;
}
#comments .reply{
  text-align: left;
}
#comments ol.comment-list {
  color: #151c27;
  font-size: 18px;
}
.comment-meta.commentmetadata {
  margin: 8px 0;
}
li#comment{
  margin-bottom: 20px;
}
.comment-author cite.fn{
  padding-right: 10px;
}
.content-ts #comments h2.comments-title{
  padding-top: 10px;
  font-size: 25px;
}
.content-ts #comments ol li li{
  margin-right: 25px;
}
.content-ts #comments ol li{
  width:100%;
  background:none;
  list-style:none;
  margin: 0;
  background:#fff;
  display: inline-block;
} 
/*-----------------Search pop up----------------*/

.serach_inner label {
  width: 95%;
  margin-bottom: 0;
}
.serach_inner{
  background: #fff;
  max-height: 40%;
  height: 100%;
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 500ms;
  box-shadow: 0px 0px 12px #c0bebe;
}
.serach_outer {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0em;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 300ms;
  visibility: visible;
  transition: opacity 300ms, z-index 0ms;
}
.closepop {
 position: absolute;
 top: 25px;
 text-align: center;
 font-size: 40px;
 z-index: 9999;
 left: 50%;
 color: #575756;
}
.serach_outer {
 font-size: 24px;
 padding: 4px 0 0 0;
 cursor: pointer;
}
.serach_inner form.search-form {
 display: table;
 padding: 0;
 border-radius: 0;
 background: #ffffff;
 margin: 0 auto;
 max-width: 1200px;
 width: 100%;
}
.serach_inner form.search-form {
  width: calc(100% - 30px);
  margin: 0 auto;
  color: #fff;
  border: none;
  border-bottom: 1px solid #eae6e6;
  position: absolute;
  bottom: 2em;
}
.serach-page input.search-field {
 border: 1px solid #ccc;
 padding: 9px;
}
.serach_inner input.search-field {
	padding: 10px;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	color: #3a4d5e;
	max-height: 1200px;
	border: none;
}
.serach_inner input.search-submit {
 padding: 8px 35px;
 margin: 5px 0;
 font-size: 20px;
 border: none;
}
button.search-submit {
 border: 0;
 background: transparent;
}
input.search-field {
 border: 1px solid #bbb;
 padding: 10px 0;
 background: transparent;
 width: 95%;
}
.search-box i {
  padding: 15px 0px;
  color: #fff;
  margin: 7px;
}
.search-box {
  margin: 8px 0px;
}
.search-box a{
	color:#fff;
}
.serach_inner input[type="submit"]{
  text-indent: -9999px;
  z-index: 9999;
  background: url(https://darkshadee.github.io/MehandiDesigner/wp-content/themes/bb-wedding-bliss/images/search.png) no-repeat 100% 10px;
  position: absolute;
  margin:0;
  left: 0;
  background-size: 30px;
}
/* --------- SLIDER--------- */
#slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
  background: #000;
}
#slider img {
  width: 100%;
  opacity: 0.6;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;  
}
#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon{
  background-image: none;
  font-size: 15px;
  color: #fff;
  padding: 15px 20px;
}
.carousel-control-prev, .carousel-control-next{
  opacity: unset !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
  right: 30%;
}
#slider .inner_carousel h1 a{
  margin-bottom: 15px;
  font-size: 45px;
  letter-spacing: 1px;
  font-weight: 100;
  text-transform: uppercase; 
  color: #b79338;
}
#sidebar form{
 	display: table;
	width: 100%;
}
#sidebar h3 {
    margin: -40px 0 20px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 18px;
    background: #151c27;
    color: #b79338;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
#sidebar h3 a.rsswidget{
	color: #b79338;
}
#sidebar input[type="search"] {
	background:#fff;
	padding:9px 10px;
	border:none;
	font-size:15px;
	color:#000;
	width:100%;
}
#sidebar form.search-form label{
	width:70%;
	float:right;
	margin:0;
}
#sidebar input[type="submit"]{
	background:#151c27;
	border:none;
	color:#b79338;
	padding:10px 0;
	width:30%;
	font-size:14px;
	float:right;
	margin:0;
}
#sidebar aside {
    margin:10px 0 35px;
    border: 2px solid #151c27;
    padding: 15px;
    border-radius: 3px;
}
#sidebar ul {list-style:none;
	margin:0;
	padding:0;
	font-size:16px;
}
#sidebar ul li{
	background:url('https://darkshadee.github.io/MehandiDesigner/wp-content/themes/bb-wedding-bliss/images/bullets-sidebar1.png') no-repeat 100% 2px;
	margin:0 0 15px;
	padding:0 23px 0 0;
}
#sidebar ul li a{
	color:#151c27;
	padding-right: 5px;
}
#sidebar ul ul li a{
	padding-right: 12px;
}
#sidebar ul ul li{
	padding: 0 8px 0 0;
}
#sidebar ul li a:hover{
	color:#b79338;
}
/*label{
	margin-bottom: 2%;
	margin-top: 0px;
	float:left;
}*/
#sidebar .tagcloud a,
#footer .tagcloud a{
	background:#eeeeee;
	color:#000;
	font-size:15px !important;
	padding:5px 18px;
	margin:0 0 8px 5px;
	display:inline-block;
}
#sidebar .tagcloud a:hover,
#footer .tagcloud a:hover{
	background:#b79338;
}
.imagebox {
    text-align: center;
}
/* Page */
.content-ts p{
	text-align:justify;
	font-size: 16px;
	margin:0 0 10px;
}
.content-ts hr{
	border:none;
	border-bottom:2px dotted #7e7e7e;
	margin:35px 0;
	clear:both;
}
.content-ts h2{
	font-size:30px;
	font-weight:normal;
	margin:0;
	padding:0;
	color:#000;
	margin:0 0 25px;
}
.content-ts h3{
	font-size:36px;
	font-weight:normal;
	margin:0;
	padding:0;
	color:#000;
	margin:0 0 25px;
}
.content-ts h4{
	font-size:20px;
	font-weight:bold;
	margin:0;
	padding:0;
	color:#333;
	margin:0 0 25px;
}
.content-ts ul{
	list-style:none;
	margin:0 10px 0 0;
	padding:10px 0 0;
	font-size:16px;
}
.content-ts ul li{
	margin:0 0 20px 0;
	line-height:25px;
	margin-left: 15px;
	font-size: 20px;
}
.content-ts ol{list-style: none;
	padding:10px 0 0 0;
	font-size:16px;
	counter-reset: myCounter;
}
.content-ts ol li{
	padding:0 0 0 0;
	margin:0 0 20px 0;
}
/* Pagination */
.nav-previous {
	float: right;
	width: 50%;
	margin: 15px 0;
}
.nav-next{
	float: right;
	width: 50%;
	text-align: left;
	margin: 15px 0;
}
span.post-title {
	font-size: 18px;
	margin: 3%;
	font-weight: 600;
	line-height: 1.5;
}
.pagination {
	clear:both;
	position:relative;
	font-size:14px;
	line-height:1;
	float:left;
	font-weight:bold;
	padding: 10px 0
}
 
.pagination span,
.pagination a {
	display:block;
    float:right;
    margin: 2px 0 2px 2px;
    padding:10px 15px;
    text-decoration:none;
    width:auto;
    color:#fff;
    background: #151c27 ;
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
 
.pagination a:hover{
	color:#000;
    background: #b79338;
}
 
.pagination .current{
	padding:10px 15px;
    background: #b79338;
    color:#000;
	font-weight:normal;
}
/*video*/
iframe{
	width: 100%;
}
.entry-audio audio {
    width: 100%;
}
@media screen and (max-width:720px) {
	.page-template-custom-front-page #header {
	    position: static;
	    opacity: 1;
	    padding: 0;
	    background: #151c27;
	}	
	#header{
		padding: 0;
		border: none;
	}
	#slider .carousel-caption {
	    top: 40%;
	    transform: translateY(-60%);
	}
	#comments input[type="submit"].submit{
		width: 100% !important;
	}
	.search-box {
	    margin: 8px 0px;
	    text-align: center;
	}
	#love-Story, #moreevent{
		margin: 3% 0;
	}
	.center-align {
	  right: 40%;
	  left: 50%;
	}
	.products li{
		width: 100% !important;
	}
	#slider .carousel-caption, #slider .inner_carousel, #slider .inner_carousel h1{
	    text-align: center !important;
	    right: 0% !important;
	    left: 0% !important;
	  }
	#slider .inner_carousel h1 a{
		font-size: 25px;
	}
}

@media screen and (min-width: 720px) and (max-width: 768px){
	#footer td{
		padding: 3px;
	}
	#sidebar .woocommerce ul.product_list_widget li img, #footer .woocommerce ul.product_list_widget li img{
		width: 40px;
	}
	#footer th{
		padding: 0;
	}
	.page-template-custom-front-page #header {
	    position: static;
	    opacity: 1;
	    padding: 0;
	    background: #151c27;
	}
	.woocommerce ul.products[class*=columns-] li.product:nth-child(2n), .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n){
	    display: inline-table;
	    margin: 10px;
	 }
	.related.products ul.products li.product, .related.products .woocommerce-page ul.products li.product{
		width: 44%;
	}
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
		width: 44%;
		float: right;
		clear: both;
		margin: 10px;
	}
}
@media screen and (min-width: 991px) and (max-width: 1024px){
	.logo a {
	    color: #fff;
	    font-size: 30px !important;
	}
}
/*------------------RESPONSIVE MEIDA-------------------*/

@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,
  a.closebtn.mobile-menu:focus{
    outline: 1px dotted #fff;
    border-bottom: 1px solid #fff;
  }
  .toggle-menu i {
    font-size: 18px;
    color: #fff;
    padding:10px;
    background: #262626;
    margin: 10px 0;
    border: 1px solid #b79338;
  }
  .toggle-menu button {
    background: transparent;
    border: none;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: #252525;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidebar .closebtn {
    position: absolute;
    top: -9px;
    right: -6px;
    font-size: 40px !important;
    display: block;
    color: #ffffff;
    border:none;
    background: transparent;
  }
  .sidebar #primary-site-navigation {
    width: 100%;
  }
  .toggle-menu span{
    font-size:30px;
    cursor:pointer; 
  }
  .toggle-menu{
    display: block;
    text-align: left;
  }
  .primary-navigation ul ul li{
    display: block;
  }
  .primary-navigation ul ul a, .primary-navigation li a:hover, .primary-navigation li:hover a{
    background-image: linear-gradient(90deg, #151c27 0%, #b79338 120% );
  }
  .primary-navigation li a:hover, .primary-navigation li:hover a{
    background: unset !important;
  }
  .primary-navigation ul li a{
    padding: 15px;
    display:block;
    color:#ffffff;
    border:none;
  }
  .primary-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .primary-navigation ul li ul li a{
    padding-right:20px !important;
  }
  .primary-navigation ul li ul li ul li a{
    padding-right:30px !important;
  }
  .primary-navigation ul ul{
    position: static;
    width: 100%;
    background: unset;
    border: none !important;
  }
  .primary-navigation ul ul li{
    text-align: center;
  }
  .primary-navigation li{
    padding: 0;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #menu-sidebar {
    display: inline;
    background-image: linear-gradient(90deg, #151c27 0%, #b79338 120% );
    opacity: 0.95;
  }
  #header .primary-navigation ul.sub-menu li a, #header .primary-navigation ul li a{
    color: #fff !important;
  }
  .primary-navigation ul{
    display: grid;
    text-align: center;
  }
  nav#primary-site-navigation a.closebtn.mobile-menu i {
    color: #fff;
  }
  #menu-sidebar .social-media a{
    padding: 5px;
  }
  #menu-sidebar .mail{
    padding: 10px 0;
  }
  .top-header .social-media{
    display: none;
  }
  #contact-info{
    background-image: linear-gradient(90deg, #151c27 0%, #b79338 120% );
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    opacity: 1;
  }
  #menu-sidebar .primary-navigation a{
    font-size: 15px;
    font-weight: 600;
  }
  #menu-sidebar .search-box i{
    color: #fff;
    text-align: center;
    display: block;
  }
  .search-box i{
    display: none;
  }
  #menu-sidebar input[type="submit"]{
    padding: 10px;
    background-color: #b79338;
    color: #000;
    font-size: 14px;
  }
  #menu-sidebar input.search-field{
    background: #fff;
    padding: 10px 0;
  }
  .primary-navigation a{
    display: inline-block;
  }
  #contact-info form.search-form {
    display: inline-block;
    padding: 15px 0;
  }
  .main-menu-navigation{
    overflow-y: scroll;
    scroll-behavior: auto;
  }
  .social-icons{
    text-align: center;
  }
  .top-header {
    display: none;
  }
  .sf-arrows .sf-with-ul:after{
    position: absolute;
    right: 87%;
    left: 0;
    color: #fff;
  }
  .social-icons i{
    font-size: 17px;
  }
  #contact-info, #contact-info .social-media{
	display: block;
	text-align: center;
	}
	.social-media{
		display: none;
	}
	#sidebar td,
	#sidebar td#prev a,
	#sidebar th {
		color:#737171 !important;
		padding: 0px;
	}
	#footer aside {
	    margin: 10%;
	}
	.page-template-custom-front-page #header{
		width: 100% !important;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text{
		font-size: 15px;
	}
	#contact-info input[type="search"]{
		float:none;
	}
}